
<html>
<head>
    <title>Proceed to place a request:</title>
</head>
<body>
    <h1>
        About us:
    </h1>
    <p>
We are a group of students from K.J.Somaiya College
of Engineering . We are togeather putting an effort
towards a cleaner and green future by trying to provide
a service of adulteration online to the customers
around Mumbai to let them test various materials so
that it may help them to guess the quality of the water,soil,milk.
We are currently providing 3 types of
adulteration test :
• Water
• Soil
• Milk
<b><h3>Why is it Important?</h3></b>
Well to say that by knowing the quality of the
material you might come to know abt its compositions
and would help you to know what its effects are on the
enviorment around you and yourself.
Also it may help you to take some steps to reduce the
effects by knowing about from its effects .
How can we help you?
Clearly , you play an important role of providing
the samples and we are helping you to get connected
to the required companies that provide adulteration
testing and thereby we also provide delivery i.e.pickup
and delivery of your sample report via email.If during this process there is a failure we are there
to solve it out and would reguarly be in touch for what's
going on .
If you still need to contact us , our email is  provided at the bottom of this page .
We hope to see more customers gathering to make
this city and the country green and clean by adopting
various methods to improve quality and thereby
continously holding tests for the same....
   </p>
   <p>Send Request for checking adulteration for the following options:</p>
   <div style="width:500px;"> 

   

    <a href="/mail">Water Testing</a>
    <a href="/mail">Milk Testing</a>
    <a href="/mail">Soil Testing</a>

    <a href="/logout">Logout</a>
   
</div>   
</body>
</html>

<!--

 <style>
     div button{
    display:inline-block;
    }
   </style>
   <form action="{{url_for("logout")}}">
       <button type="button"> Logout</button>
   </form> 

<form action="{{url_for("mail")}}">
        <button type="button" >Water Testing</button>
        <button type="button" >Milk Testing</button>
        <button type="button" >Soil Testing</button>     
 </form>

-->